@model IEnumerable<FuelPredictor.Models.V2.PrixJournalier>

@{
    ViewData["Title"] = "IndexStation";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var stationList = ViewData["StationList"];
    var carburantList = ViewData["CarburantList"];
    var stationName = Model.FirstOrDefault()?.Station?.Nom;
}

<h1 style="text-align:center;">Historique des prix <b>@stationName</b></h1>

<p>
    <button style="background: #2c4e2c; color: aliceblue;" type="button" class="btn btn-outline-info" id="btnOpenModal" data-toggle="modal" data-target="#createModal">
        Create New
    </button>
</p>


<div class="row">
    <div class="col-md-6">
        <input type="date" class="form-control" id="searchInput" placeholder="Search by date" />
    </div>
</div>

<table id="prixTable" class="table table-success table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Carburant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(m => m.date))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.prix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Carburant.TypeCarburant)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Add New Price</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Include the Create.cshtml partial view here -->
                @Html.Partial("Create", new FuelPredictor.Models.V2.PrixJournalier())
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            // Lorsque le bouton "Create New" est cliqué, afficher le modal
            $('#btnOpenModal').click(function () {
                $('#createModal').modal('show');
            });

            // Recherche statique par date
            $('#searchInput').on('keyup', function () {
                var searchText = $(this).val().toLowerCase();
                $('#prixTable tbody tr').each(function () {
                    var dateText = $(this).find('td:nth-child(2)').text().toLowerCase();
                    if (dateText.indexOf(searchText) === -1) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            });
        });
    </script>
}
