@model IEnumerable<FuelPredictor.Models.V2.PrixJournalier>

@{
    ViewData["Title"] = "ListPrice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #PrixJournaliers {
        text-decoration: underline;
    }
</style>
<h1>ListPrice</h1>


@if (User.IsInRole("Gerant"))
{
    <p>
        <a class="btn btn-outline-info" asp-action="Create">Create New</a>
    </p>

}
<table class="table table-success table-striped table-hover ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Station)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carburant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.prix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Station.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carburant.TypeCarburant)
                </td>


                @if (User.IsInRole("Gerant"))
                {
                    <td>
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
