@model IEnumerable<FuelPredictor.Models.V2.Station>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>










@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>


<div class="container">
    <!-- Left column for the map -->
    <div class="row">
        <div class="col-6">
            <div id="map" style="height: 400px;"></div>
        </div>
        <div class="col-6">
            <div class="right">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nom)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Adresse)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Latitude)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Longitude)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nom)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Adresse)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Latitude)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Longitude)
                                </td>

                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>

   
</div>





<script>
    var map = L.map('map').setView([33.5731, -7.5898], 13); // set initial position and zoom level for Casablanca

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Extract markers from ViewBag
    var jsModel = @Html.Raw(Json.Serialize(Model));
    console.log(jsModel)

    // Add markers for each station

    for(i in jsModel){

        item=jsModel[i]
        L.marker([item.latitude , item.longitude]).addTo(map)
        .bindPopup(item.nom+'<br>' +item.adresse)
        .openPopup;
        
    };

</script>
<style>
    /* Define a layout with two columns */


</style>



















